In [1]:
import pandas as pd
import numpy as np

In [20]:
main_path = r"C:\Users\SEBASTIAN\OneDrive - Universidad de los Andes\OctavoSemestre\ProblemaEspecial\ML/paquetes/v8 y v9/"
path_energy = main_path + "totals_featuresEnergy_v8.csv"
path_turns = main_path + "distanceTurn_v8.csv"

data_energy_pd = pd.read_csv(path_energy)
data_turns_pd = pd.read_csv(path_turns)

In [21]:
data_energy_pd.head()

,path_num,teo_path_dist,teo_path_Xdist,teo_path_Ydist,teo_path_time,avg_path_vel
0,1,38.029793,-4,-4,698,0.054484
1,2,28.546914,2,4,658,0.043384
2,3,39.088014,-4,-2,659,0.059314
3,4,37.096759,2,2,656,0.056550
4,5,23.001397,-4,-2,628,0.036626

In [9]:
data_turns_pd.head()

   totalTurns
0         5.0
1         4.0
2         5.0
3         5.0
4         5.0

In [10]:
final_pd = pd.concat([data_energy_pd,data_turns_pd],axis=1)

In [11]:
final_pd.tail()

,path_num,missing_points,teo_point_time,sim_drone_time,teo_point_dist,teo_Xdist,teo_Ydist,teo_point_vel,Energy,totalTurns
495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0

In [13]:
#final_pd = final_pd.drop(columns=['disTotal'],axis=1)
final_pd = final_pd.dropna(axis=0)
final_pd

,path_num,missing_points,teo_point_time,sim_drone_time,teo_point_dist,teo_Xdist,teo_Ydist,teo_point_vel,Energy,totalTurns
0,1.0,6.0,140.0,137.600006,4.472136,2.0,4.0,0.031944,2.797667e+08,5.0
1,1.0,5.0,63.0,62.149994,6.403124,-4.0,-5.0,0.101637,1.324583e+08,4.0
2,1.0,4.0,78.0,74.050003,5.385165,-2.0,5.0,0.069041,2.716606e+07,5.0
3,1.0,3.0,95.0,93.599976,9.219544,6.0,-7.0,0.097048,1.662099e+08,5.0
4,1.0,2.0,102.0,100.649963,3.605551,-2.0,3.0,0.035349,8.003795e+07,5.0
...,...,...,...,...,...,...,...,...,...,...
320,146.0,0.0,146.0,314.799988,2.236068,2.0,-1.0,0.015316,1.188716e+08,4.0
321,147.0,2.0,117.0,251.550003,4.472136,4.0,2.0,0.038223,6.371714e+07,5.0
322,148.0,3.0,111.0,233.349991,6.082763,6.0,-1.0,0.054800,6.067040e+07,5.0
323,148.0,2.0,129.0,276.299988,4.123106,-1.0,-4.0,0.031962,1.261502e+08,3.0
324,148.0,1.0,87.0,186.150024,8.246211,-2.0,8.0,0.094784,1.899497e+07,4.0

In [14]:
file = open(main_path+'dataSet_dron_v8_total_salo.csv',mode='w')
file.close()

#final_pd.to_csv(main_path+'dataSet_dron.csv',index=False)

In [15]:
final_pd = final_pd[final_pd['Energy'] != 0]
#final_pd = final_pd[final_pd['Vel_prom'] != 0]

In [16]:
final_pd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 325 entries, 0 to 324
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   path_num        325 non-null    float64
 1   missing_points  325 non-null    float64
 2   teo_point_time  325 non-null    float64
 3   sim_drone_time  325 non-null    float64
 4   teo_point_dist  325 non-null    float64
 5   teo_Xdist       325 non-null    float64
 6   teo_Ydist       325 non-null    float64
 7   teo_point_vel   325 non-null    float64
 8   Energy          325 non-null    float64
 9   totalTurns      325 non-null    float64
dtypes: float64(10)
memory usage: 27.9 KB

In [17]:
final_pd.tail()

,path_num,missing_points,teo_point_time,sim_drone_time,teo_point_dist,teo_Xdist,teo_Ydist,teo_point_vel,Energy,totalTurns
320,146.0,0.0,146.0,314.799988,2.236068,2.0,-1.0,0.015316,1.188716e+08,4.0
321,147.0,2.0,117.0,251.550003,4.472136,4.0,2.0,0.038223,6.371714e+07,5.0
322,148.0,3.0,111.0,233.349991,6.082763,6.0,-1.0,0.054800,6.067040e+07,5.0
323,148.0,2.0,129.0,276.299988,4.123106,-1.0,-4.0,0.031962,1.261502e+08,3.0
324,148.0,1.0,87.0,186.150024,8.246211,-2.0,8.0,0.094784,1.899497e+07,4.0

In [8]:
final_pd["path_num"].value_counts()

1      1
229    1
227    1
226    1
225    1
      ..
111    1
110    1
109    1
108    1
332    1
Name: path_num, Length: 328, dtype: int64

In [19]:
final_pd.to_csv(main_path+'dataSet_dron_v8_total_salo.csv',index=False)